<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Scher's Shears</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Scher's Shears</h1>
                <h2>Stylist and Client Management Portal</h2>
            </div>
            <h3>Are you sure you want to delete all of {{ stylist.getName }}'s clients? </h3>
            <form action="/delete_clients" id="delete_clients">
                <input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
                <button type="submit" class="btn btn-danger">Delete {{ stylist.getName }}'s Clients</button>
            </form>
            <a href="/">Home</a>
        </div>
    </body>
</html>
