<li>
    <form action="/stylists/{id}/delete_client">
        <input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
        <button type="submit" class="btn btn-danger">
            Delete all of {{ stylist.getName }}'s clients'
        </button>
    </form>
</li>


<input type="hidden" name="client_id" value="{{ client.getId }}">
<input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
